<section class="pagination">
    <!-- Page 1 --> 
    <% if(currentPage !== 1 && prevPage !== 1) { %>          
        <a href="?page=1">1</a>
    <% } %>
    <!-- Previous Page-->
    <% if(hasPrevPage) { %>
        <a href="?page=<%=prevPage%>"><%= prevPage %></a>
    <% } %>
    <!-- Current Page -->
    <a href="?page=<%=currentPage%>" class="active"><%= currentPage%></a>
    <!-- Next Page-->
    <% if(hasNextPage) { %>
        <a href="?page=<%=nextPage%>"><%= nextPage %></a>
    <% } %>
    <!-- Last Page-->
    <% if(currentPage!== lastPage && nextPage!== lastPage) { %>
        <a href="?page=<%=lastPage%>"><%= lastPage %></a>
    <% } %>
</section>